<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp2.Properties.Settings.RejestracjaUzytkownikaConnectionString"
            connectionString="Data Source=DESKTOP-T2UI567\SQLEXPRESS;Initial Catalog=RejestracjaUzytkownika;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RejestracjaUzytkownikaConnectionString" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-T2UI567\SQLEXPRESS;integrated security=SSPI;initial catalog=RejestracjaUzytkownika" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>